---
import Layout from '../layouts/Layout.astro';
import MyProductsComponent from '../components/MyProducts.jsx';
---

<Layout title="Mis Productos">
  <main>
    <MyProductsComponent client:load />
  </main>
</Layout>

<style>
  main {
    min-height: calc(100vh - 4rem);
    background-color: #f9fafb;
  }
</style> 