---
import AdminSidebar from '../components/admin/AdminSidebar.jsx';
import AdminNavbar from '../components/admin/AdminNavbar.jsx';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/rpg-game.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Panel de Administración</title>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900">
    <div class="min-h-screen flex flex-col">
      <AdminNavbar client:load />
      <div class="flex flex-1 flex-col md:flex-row">
        <AdminSidebar client:load />
        <main class="flex-1 p-2 sm:p-4 md:p-8">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html> 